.logos>img {
    width: 100px;
    height: auto;
    margin-top: 1rem;
    margin-left: 100px;


}

.slider {
    animation: 15s linear 1s infinite slidein;
    white-space: nowrap;


    .logos {
        height: auto;
        width: 100vw;
        display: inline-block;
        margin: 0px 0;

        .fab {
            width: 15%;
            animation: fade-in 1s forwards;

        }
    }


}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 300px) {
    .slider {
        animation: 15s linear 1s infinite slidein;
        white-space: nowrap;

        .logos {
            height: auto;
            width: 100vw;
            display: inline-block;
            margin: 0px 0;

        }


    }

}